<footer class="footer">
   <div id="buttonGroup" class="btn-group selectors" role="group" aria-label="Basic example">
      <button id="home" type="button" class="btn btn-secondary button-active">
         <div class="selector-holder">
            <a href="../category/index.ejs" class="link_btn">
            <i class="material-icons">category</i>
            <span>Category</span>
            </a>
         </div>
      </button>
   </div>
</footer>